<div class="category_wrapper">
    <div id="categories">
        <%= link_to "Categories", categories_path, { class: "category_item" } %>
        <a href="#" class="category_item">Email</a>
    </div>

    <div id="featured-gallery">
        <% @featured.each do |product| %>
            <div class="featured_image">
                <%= image_tag product.promoted_image %>
            </div>
        <% end %>
    </div>
</div>

