<div class="cart-item">
  <div class="cart-image-wrapper">
    <%= image_tag product_item.product.promoted_image %>
  </div>
  <span class="inline-block font-xs"><%= product.title %></span>
  <span class="inline-block"><%= format_price product.price %></span>
</div>
