@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;900&display=swap');


:root {
    --white: #fffef7;
    --black: #000;

    --green: hsl(120, 100%, 59%);
    --blue: hsl(183, 100%, 75%);
    --violet: hsl(302, 100%, 50%);
    --blue: hsl(252, 100%, 50%);
    --yellow: hsl(46, 100%, 50%);
    --orange: hsl(14, 100%, 53%);
    --pink: hsl(347.4, 47.9%, 76.7%);
    --purple: hsl(263, 100%, 88%);
    --violetblue: #4649ff;

    --font-main: 'Anonymous Pro', 'Courier New', sans-serif;
    --font-second: 'Inconsolata', 'Courier New', sans-serif;

    --font: var(--font-main);
    --primary_1: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.debug {
    border: 1px solid limegreen;
}

html, body {
    min-height: 100vh;
    min-height: 100svh;
    height: auto;
}

body {
    background-color: var(--white);
    margin: 0 auto;
    padding-bottom: 50px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.clean_anchor, .clean_anchor:hover {
  text-decoration: none;
}

.align-self-end {
  align-self: end;
}

.inline-block {
  display: inline-block;
}

.separator {
  display: inline-block;
  margin-right: 9px;
  font-size: 1.3rem;
  font-weight: bold;
}

/* navigation  start */
.nav-header {
    display: flex;
    flex-direction: row;
    gap: var(--gap, 1rem);
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#app-logo {
    font-size: 1.5rem;
    margin: 2rem;
}

#app-logo a {
    padding: 1rem;
    background-color: var(--black);
    color: var(--white);
}

#primary-nav {
    display: flex;
    flex-direction: var(--dir, row);
    gap: var(--gap, 2rem);

    z-index: 1000;
    list-style: none;
    background: hsl(0 0% 0% / 0.85);
}

#primary-nav li {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    cursor: pointer;
}

.nav-toggle {
    display: none;
}

@media (max-width: 35em) {
    #primary-nav {
        --dir: column;

        position: fixed;
        inset: 0 0 0 45%;
        padding: min(30vh, 10rem) 2rem;
        transition: transform 350ms ease-out;
    }

    #primary-nav[data-state="close"] {
        opacity: 0;
        transform: translateX(100%);
    }

    #primary-nav[data-state="open"] {
        transform: translateX(0%);
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        width: 2em;
        background-color: black;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
        border: none;
        color: var(--white);
    }

    .nav-toggle-icon {
        display: none;
    }
    .nav-toggle-icon.show {
        display: block;
    }
}

@media (min-width: 35em) {
    #primary-nav {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 1rem;
        padding-inline: clamp(1.5rem, 5vw, 3rem);
    }
}

/* navigation end */

