* {
    padding: 0;
    margin: 0;

    border: 1px solid limegreen;
}

.card {
    position: relative;
}

.card_overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
