.toast {
    position: fixed;
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    background-color: #fff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: auto;
    z-index: 9999;
    border-radius: 12px;
    overflow: hidden;
    border-block: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom: none;
}

@keyframes toast-closing {
    from {
        opacity: 1;
        z-index: 9999;
    }

    to {
        opacity: 0;
        z-index: -9;
    }
}

.toast.toast_close {
    animation: 1s linear forwards toast-closing;
}

.toaster_contents {
    padding: 15px;
}

.expiry_meter {
    display: block;
    width: 100%;
    border: 3px solid violet;
}

@keyframes toast-expiring {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.expiry_meter.expiry_close {
    animation: 2.5s ease-out forwards toast-expiring;
}

.toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
}


.toast-body {
    font-size: 14px;
    font-color: #777;
    padding-bottom: 10px;
}

.close {
    cursor: pointer;
    font-size: 25px;
    color: #333;
}
