.explore-all-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  gap: 1.2em;
  justify-content: center;
}

@media (max-width: 50em) {
  .explore-all-wrapper {
    padding-top: 0;
  }
}

#categories {
  display: flex;
  border-block: 2px solid black;
  align-items: center;
  padding: 1em var(--content-gutter);
  background-color: var(--secondary_1);
}

.category_item a {
  font-family: 'sans';
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

  transition: text-decoration 250ms forwards;
}

.category_item.active a {
  text-decoration: underline;
}

.category_item a:hover {
  text-decoration: underline;
}


@media (max-width: 50em) {
  .category_item:first-child:before, .category_item:after {
    content: "*";
    display: inline-block;
    margin-right: 9px;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .category_item:first-child:before {
    margin-right: 0px;
  }
}

@media (min-width: 50em) {
  .explore-all-wrapper {
    flex-direction: row;
  }

  #categories {
    flex-direction: column;
    align-items: flex-end;
    background: none;
    padding: 1em 0 0 var(--content-gutter);
    width: min(300px, calc(20vw));
    border: 0;
  }

  .category_item {
    padding: 0px 0.5em 8px;
  }
}

/* accounts page start */
/* accounts page end */

.accounts-action-wrapper {
  display: flex;
  width: 90%;
  max-width: 64em;
  margin-inline: auto;
  flex-direction: var(--dir, column);
  justify-content: var(--justify, center);
  gap: 2em;
  margin-top: 6em;
}

.accounts-form {
  width: 100%;
  max-width: 450px;
  padding: 2em;
}

.accounts-form .flat-input {
  border-radius: 4px;
}

.accounts-form.login-form-wrapper {
  background: var(--orange);
  color: white;
  box-shadow: 2px 2px 6px hsl(14, 100%, 30%, 0.8);
}

.login-form-wrapper .flat-input {
  border-color: var(--white);
}

.accounts-form header {
  margin-bottom: 2em;
}

.accounts-form h4 {
  font-family: var(--font-second);
  font-size: 1.3em;
  font-weight: 700;
}

.accounts-form form {
  --gap: 1.6em;
}

.accounts-form-separator {
  --bb: 2px
}

@media(min-width: 50em) {
  .accounts-action-wrapper {
    --dir: row;
    --justify: space-between;
  }

  .accounts-form-separator {
    --bl: 2px
  }
}

.accounts-btn-wrapper {
  align-items: flex-end;
}

.login-form abbr[title=required],
.signup-form abbr[title=required]{
  display: none;
}

.login-form .error,
.signup-form .error {
  display: none;
}

.flat-input {
  width: 80%;
  height: 2em;
  padding: 4px;
  border-radius: 0;
  border: 1px solid var(--black);
}


/* cart items error start */
.cart-messages {
  align-items: flex-start
}

.cart-error-msg {
  margin-inline: 2em;
  margin-top: 2em;
  color: red;
  font-weight: bold;
}

.cart-error-msg::before {
  content: "x";
  margin-right: 10px;
}

.cart-success-msg {
  margin-inline: 2em;
  margin-top: 2em;
  color: green;
  font-weight: bold;
}

.cart-success-msg::before {
  content: '\2713';
  margin-right: 10px;
}

@media (min-width: 50em) {
  #cart-errors {
    align-items: flex-end;
  }
}
/* cart items error end */

/* address wrapper start */
#addresses-wrapper {
  display: flex;
  gap: 2em;
  overflow-x: scroll;
  padding-bottom: 1em;
  flex-wrap: nowrap;
}

.address-container {
  --gap: 1em;
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
  font-size: 0.6em;

  width: 230px;
}

.address-container.selected {
  background-color: var(--blue);
  color: white;
}

.address-details-line-a {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.address-actions {
  padding-top: 1.2em;
}

.address-container.selected .address-actions a {
  color: white;
}


/* address wrapper end */

#my-order-form {
  width: 100vw;
}

@media (min-width: 64em) {
  #my-order-form {
    width: auto;
  }

  .checkout {
    margin-top: 0;
  }
}

.btn-cart-item-delete {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5px;
  background: black;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}

.cart-item-prod-title {
  font-size: 0.8em;
}
