<p style="color: green"><%= notice %></p>

<div class="category_wrapper">
    <div id="categories">
        <% @categories.each do |category| %>
            <%= render category %>
        <% end %>
    </div>

    <div id="product-listing">
        <% @products.each do |product| %>
            <%= render product  %>
        <% end  %>
    </div>
</div>
