<section id="cart-errors" class="flex flex-col cart-messages">
  <% errors.each do |msg| %>
    <span class="cart-error-msg"><%= msg %></span>
  <% end %>
</section>
<section id="cart-success" class="flex flex-col cart-messages">
  <% success.each do |msg| %>
    <span class="cart-success-msg"><%= msg %></span>
  <% end %>
</section>
  
