<li id="<%= dom_id product %>">
  <img src='<%= image_path(product.images.thumb(product.images.images[0])) %>'/>
  <span><%= product.title %></span>

  <a class="card-overlay" href="<%= product_path(product) %>"></a>
</li>

