<div class="card" id="<%= dom_id product %>>">
    <div class="product_image">
        <%= image_tag product.promoted_image %>
    </div>
    <div class="card_title">
        <h3><%= product.title %></h3>
    </div>

    <a class="card_overlay" href="<%= product_url(product) %>"></a>
</div>
