<li id="<%= dom_id product %>">
  <img src='<%= image_path(product.promoted_image) %>'/>
  <span><%= product.title %></span>

  <a class="card-overlay" href="<%= product_path(product) %>"></a>
</li>

