<h1>Details</h1>

<div id="product_details_wrapper">
    <div class="product_details__image_wrapper">
        <!-- need to show all image in c arousal -->
        <%= image_tag @product.promoted_image %>
    </div>

    <div class="product_details__info">
        <section id="description">
            <h2><%= @product.title %></h2>

            <% if @product.description.present? %>
                <em><%= @product.description %></em>
            <% else %>
                <em>Get your X factor out. Professor mixed up in the lab, so did we.</em>
            <% end %>
        </section>


        <section id="chaufferr">
            <p class="price"><%= format_price @product.price %></p>
            <div class="dropdown">
                <select class="dropdown-select product_details__cta_btn">
                    <option value="" disabled selected>Select Option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>

            <button class="add-to-cart-btn product_details__cta_btn">Add to Cart</button>
        </section>

    </div>
</div>
