<div class="toast">
    <section class='<%= "toaster_contents toast-#{flash_type.downcase}" %>'>

    <div class="toast-body">
        <span><%= flash_msg %></span>
        <span class="close" data-action="click->toast#closeToast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </span>
    </div>
    </section>
</div>
