<div id="header">
    <div id="pf"></div>
    <div id="header-logo">
        <%= link_to 'tee-tees', root_path, { class: "clean_anchor" } %>
    </div>
    <div id="header-icons">
        <ul
            id="header-actions"
            data-action="cart-add:updated@window->cart-count#update"
            data-controller="cart-count">
            <li>login</li>
            <li data-cart-count-target="itemCount">cart</li>
        </ul>
    </div>

    <div id="menu-icon">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</div>

<nav class="menu" id="header-nav-menu">
    <div id="header-nav-menu-wrapper">
        <div id="profile-image">
            <img src="https://placehold.co/400x400" alt="Guest Profile" class="profile-image">
            <p class="profile-username">Guest</p>
            <!-- Add your guest profile image here -->
        </div>
        <!-- <div id="header-close-icon">&times;</div> -->
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div id="header-close-icon">
            <span class="line line_top"></span>
            <span class="line line_bottom"></span>
        </div>
    </div>
</nav>
