<header class="nav-header">
  <div id="app-logo">
    <%= link_to 'notorious', root_path, { class: "clean-anchor" } %>
  </div>

  <button class="nav-toggle" aria-controls="primary-nav" aria-expanded="false">
    <span class="material-symbols-outlined nav-toggle-icon show" id="menu">menu</span>
    <span class="material-symbols-outlined nav-toggle-icon" id="close">close</span>
    <span class="sr-only">Menu</span>
  </button>

  <nav class="nav-options">
    <ul 
       id="primary-nav" 
       data-action="cart-add:updated@window->cart-count#update"
       data-controller="cart-count"
       data-state="close">
      <li>
        <span aria-hidden="true" class="material-symbols-outlined">
          shopping_cart
        </span>
        <span data-cart-count-target="itemCount">Cart</span>
      </li>
      <li>
        <span aria-hidden="true" class="material-symbols-outlined">
          account_circle
        </span>
        <span>Login</span>
      </li>
    </ul>
  </nav>
</header>
