<header class="nav-header">
  <div id="app-logo">
    <%= link_to 'notorious', root_path, { class: "clean-anchor" } %>
  </div>

  <button class="nav-toggle" aria-controls="primary-nav" aria-expanded="false">
    <span class="material-symbols-outlined nav-toggle-icon show" id="menu">menu</span>
    <span class="material-symbols-outlined nav-toggle-icon" id="close">close</span>
    <span class="sr-only">Menu</span>
  </button>

  <nav class="nav-options">
    <ul id="primary-nav" data-state="close">
      <% if logged_in? %>
        <li 
          data-action="cart-add:updated@window->cart-count#update"
          data-controller="cart-count"
        >
        <span aria-hidden="true" class="material-symbols-outlined">
          shopping_cart
        </span>
        <span data-cart-count-target="itemCount" class="header-nav">Cart</span>
        </li>
        <li>
          <span aria-hidden="true" class="material-symbols-outlined">
            account_circle
          </span>
          <%= link_to "Profile", accounts_url, class: 'clean-anchor header-nav' %>
        </li>
        <li>
          <span aria-hidden="true" class="material-symbols-outlined">
            account_circle
          </span>
          <%= link_to "Logout", accounts_logout_url, data: { "turbo-method": :delete }, class: 'clean-anchor header-nav' %>
        </li>
      <% else %>
        <li>
          <span aria-hidden="true" class="material-symbols-outlined">
            account_circle
          </span>
          <%= link_to "Accounts", accounts_url, class: 'clean-anchor header-nav' %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
