<div id="header">
    <div id="header-logo">
        <%= link_to 'tee-tees', root_path, { class: "clean_anchor" } %>
    </div>
    <div id="header-icons">
        <ul id="header-actions">
            <li>login</li>
            <li>cart</li>
        </ul>
    </div>
</div>
