<div id="header">
    <div id="header-logo">
        <%= link_to 'tee-tees', root_path, { class: "clean_anchor" } %>
    </div>
    <div id="header-icons">
        <ul id="header-actions">
            <li>login</li>
            <li>cart</li>
        </ul>
    </div>

    <div id="menu-icon">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</div>

<nav class="menu" id="header-nav-menu">
    <div id="header-nav-menu-wrapper">
        <div id="header-close-icon">&times;</div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    </div>
</nav>
